.app-container {
  min-height: 100vh;
  position: relative;
}

.main-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.main-title {
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.input-panel {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  color: white;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #444;
  width: 100px;
  background: #1e1e1e;
  color: white;
}

.fetch-button {
  align-self: end;
  padding: 10px 25px;
  border-radius: 8px;
  border: 1px solid #444;
  background: #1e1e1e;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s, background 0.2s;
}

.status-text {
  color: white;
  margin-top: 20px;
}

.status-error {
  color: tomato;
  margin-top: 20px;
}

.report-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.result-image {
  width: 350px;
  margin-bottom: 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  margin-left: 2rem;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.war-and-hex-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  min-height: 350px;
}

.warstate-chart {
  display: flex;
  width: 500px;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  min-height: 350px;
}

.warstate-and-vt-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  min-height: 350px;
}

.autocomplete-list {
  border: 1px solid #444;
  background: #1b1b1b;
  max-height: 200px;
  max-width: 300px;
  overflow-y: auto;
  border-radius: 6px;
  margin-top: 4px;
  position: absolute;
  width: 100%;
  z-index: 20;
}

.autocomplete-item {
  padding: 8px 10px;
  cursor: pointer;
}

.autocomplete-item:hover {
  background: #333;
}
